.sajwrap-page {
  padding: 24px;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sajwrap-embed {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 77.2727%;
  box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
  margin-top: 1.6em;
  margin-bottom: 0.9em;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

.sajwrap-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.sajwrap-credit {
  color: #666;
  margin-top: 12px;
  font-size: 14px;
}