.footer {
    color: #0e0909;
    background-color: #737373;
    background-image: url('../../assets/footer-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}

.footer .logo {
    width: 140px;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;

}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    gap: 40px;
    align-items: start;
}

.footer-content-left,
.footer-content-center,
.footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.map-embed iframe {
    width: 100%;
    height: 240px;
    border: 0;
    display: block;
}

.footer-content-left ul li,
.footer-content-center ul li,
.footer-content-right ul li {
    margin-bottom: 10px;
    list-style: none;
    color: orange;
    
}

.footer-content-left h2,
.footer-content-center h2,
.footer-content-right h2 {
    color: rgb(0, 0, 0);
}

.footer-social-icons img {
    width: 100px;
    
}

.footer-social-icons {
    display: flex;
    gap: 15px;
}

.footer li {
    cursor: pointer;
}

.footer hr {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
}

@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    
    .footer-copyright {
        text-align: center;
    }
}
@media (max-width:400px) {
    .footer {
        padding: 20px 4vw;
        padding-top: 60px;
    }
    .footer .logo {
        width: 120px;
    }
    
}
